gensim~=4.3.3
pyLDAvis~=3.4.1
datasets~=3.6.0
hdbscan~=0.8.40
tqdm~=4.67.1
wordcloud~=1.9.4
beautifulsoup4~=4.13.4
bertopic==0.17.0
kagglehub==0.3.12
matplotlib==3.10.3
nltk==3.9.1
numpy==2.3.0
octis==1.14.0
pandas==2.3.0
scikit_learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
sentence_transformers==4.1.0
top2vec==1.0.36
torch==2.7.1
umap==0.1.1